.hdr {
    background-color: #333435; 
    color: #fff; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    font-size: 18px; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.5; 
    transition: background-color 0.3s, color 0.3s;
}
.hdr h1 {
    margin: 0 auto;
    color: #F1F445;
}

.hdr:hover {
    background-color: #e74c3c; 
    color: #fff; 
}

.home1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333435;
    color: black; 
  }
  
  .home1:hover {
    background-color: black;
  }