.Mainhdr {
    background-color: #050505;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .MainHdruser-info {
  
    display:flex;
    flex-direction: column;
  }
  
  .MainHdruser-info h1 {
    margin: 0;
    color: #F8DE7E;
  }
  
  .MainHdruser-info img {
    width: 5px;
    border-radius: 50%;
    margin-top: 5px;
  }
  
  .MainHdrmy-button-logout {
    background-color: #ff849c;
    color: #000000;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .MainHdrmy-button-logout:hover {
    background-color: rgb(187, 108, 121);
    transform: scale(1.1); 
  }
  
  .Mainhdr:hover {
    background-color: #1b1b1b;
    color: #fff;
  }

  .Mainhdr img {
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.MainHdrmy-button {
    background-color: #8AB9F1;
    color: #000000;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .MainHdrmy-button:hover {
    background-color: #2980b9;
    transform: scale(1.1); 
  }