.users {
    margin: 1 auto;
    margin-top: 30px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #b0a1a1;
    border-radius: 20px;
    box-shadow: 9px 10px 8px 5px rgb(0, 0, 0);
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
    margin-bottom: 50px;
    overflow-y: auto;
    max-height: 700px;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .mainLocationBackground {
    background-image: url('https://img.freepik.com/free-photo/black-stones-tiled-floor_1194-6238.jpg?w=1380&t=st=1701358156~exp=1701358756~hmac=2afed33100287d4e8ef6dced3b393f74375227de9b36cb1c76e74cb04bff6e69');  
  }

  .rec-fav {
    text-align: center;
  }

  .box-contain {
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 10px;
    background-color: #FFC40A;
    margin-bottom: 50px;
    margin-left: 55px;
    margin-right: 55px;
  }